# chkconfig: 345 99 01
# description: BPF-based auto-tuning of system parameters

[Unit]
Description=BPF-based auto-tuning of system parameters
After=systemd-sysctl.service network.target

[Service]
ExecStart=/usr/sbin/bpftune
Restart=on-failure

[Install]
WantedBy=multi-user.target

